In [31]:
import sqlite3
from sqlite3 import Error

In [32]:
def createdatabase(file):
    conn=None
    try:
        conn=sqlite3.connect(file)
        return conn
    except Error as e:
        print(e)
    return conn

In [33]:
def executecommand(conn,commant):
    try:
        c=conn.cursor()
        c.execute(commant)
    except Error as e:
        print(e)

In [34]:
def executeselect(conn):
    c=conn.cursor()
    c.execute("SELECT * FROM tabela_bazy")
    rows=c.fetchall()
    for row in rows:
        print(row)

In [35]:
def main():
    database='baza.db'
    conn=createdatabase(database)
    komenda="""CREATE TABLE tabela_bazy (
                 id INT,
                 imie TEXT,
                 nazwisko TEXT,
                 wiek INT);"""
    komenda2="""INSERT INTO tabela_bazy VALUES(
                 1,'Wojciech','Mann',24);"""
    executecommand(conn,komenda)
    executecommand(conn,komenda2)
    executeselect(conn)

In [36]:
if __name__ == '__main__':
    main()

(1, 'Wojciech', 'Mann', 24)